* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #333;
  color: whitesmoke;
}

body {
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace  ;
  font-size: 1.5rem;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

main {
  max-width: 600px;
  margin: auto;
}

section {
  margin-top: 1em;
}

article {
  margin: 0.5em 0.5em 0.5em 0;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1em;
  position: relative;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  margin-bottom: 2rem;  
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

.postDetails  {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.postDetails span {
  font-size: 1.2rem;
}

.postDetails a, 
.postDetails a:visited {
  margin-right: 0.5rem;
  color: rgb(22, 110, 103);
  font-weight: 300;
}

.postDetails a:hover, 
.postDetails a:focus {
  color: rgb(41, 170, 159);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgb(39, 156, 160);
  color: #fff;
}
.header h2 {
  margin-bottom: 0;
}

.header a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 1px;  
}
.header a:hover {
  color:rgb(119, 22, 111)
}
.header a:last-of-type {
  margin-left: 1.3rem;
}

/* Edit post form */
.deleteBtn {
  background-color: rgb(226, 11, 11);
  color: #fff;
  border: none;
  padding: 5px 0;
}
.deleteBtn:hover {
  background-color: rgb(131, 7, 7);
}